* text=auto eol=lf

*.sh        text eol=lf
*.bash      text eol=lf
nginx.conf  text eol=lf
.env*       text eol=lf

*.php       text eol=lf
*.blade.php text eol=lf
*.yml       text eol=lf
*.yaml      text eol=lf
*.json      text eol=lf
*.lock      text eol=lf

*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
*.woff binary
*.woff2 binary
*.zip  binary
